<div class="col-sm-3">
    <div class="well">
      <!-- <div style="padding-right: 5%; float: right;">
      </div> -->
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Personnel - <%= personnel.length %></h1>
          <button class="btn border-secondary-subtle">ADD +</button>
          <div>Assigned</div>
          <% personnel.forEach(function(person) { %>
            <button draggable="True" style="width: 100%; text-align: left;"
              class="btn border-secondary-subtle"><strong>
                <%= person.firstName+' '+person.lastName %></strong>
                  <% 
                    // count how many projects each person has and determine their color
                    let total = 0;
                    if(person.projects) {
                      person.projects.forEach(function(project) { 
                        total+= project.weight;
                      })
                    };

                    let color;
                    if (total < 1) {
                      color='primary';
                    } else if (total < 2) {
                      color='success';
                    }
                    else if (total < 3) {
                      color='warning';
                    } else {
                      color='danger';
                    } 
                  %>

                  <span class="badge bg-<%=color%>" style="float: right;">
                    <%= total %>
                  </span></button>
            <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>