<!-- db.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>personnel and Projects</title>
</head>
<body>
  <h1>personnel and Projects</h1>
  <% if (personnel && personnel.length > 0) { %>
    <% personnel.forEach(function(person) { %>
      <h2><%= person.firstname %> <%= person.lastname %></h2>
      <ul>
        <% if (person.projects && person.projects.length > 0) { %>
          <% person.projects.forEach(function(project) { %>
            <li><%= projects.find((aa) => aa.id === projectId); %></li>
          <% }) %>
        <% } else { %>
          <li>No projects</li>
        <% } %>
      </ul>
    <% }) %>
  <% } else { %>
    <p>No personnel available</p>
  <% } %>
</body>
</html>
