<!-- Gonzales -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff4b4b;
        }

        .main {
            text-align: center;
            font-family: monospace;
        }
        .main h1 {
            font-size: 150pt;
            margin-bottom: 0px;
            margin-top: 0;
        }
        .main h2 {
            font-size: 30pt;
            margin-top: 0;
        }
        .main a {
            font-size: 24px;
            color: #ffffff;
            text-decoration: none;
            background-color: #2a2a2a;
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>403</h1>
        <h2>Forbidden</h2>
        <a href="/">Go Home</a>
    </div>
</body>

</html>