<!-- Gonzales -->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="bg-primary">
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <div class="card rounded-lg p-4 shadow">
        <div class="card-body">
          <h1 class="text-center">Import</h1>
          <form action="/import" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="personnel">Personnel</label>
              <input type="file" class="form-control" name="personnel" />
            </div>
            <div class="form-group mt-3">
              <label for="projects">Projects</label>
              <input type="file" class="form-control" name="projects" />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Import</button>
            <a href="/projects" class="btn btn-secondary float-end mt-3">Go Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>