<!-- Gonzales -->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <script>
      setTimeout(function () {
        // after 2 seconds
        window.location = "/";
      }, 1000)
    </script>
    <style>
      body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
</head>

<body class="bg-success">
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <div class="card rounded-lg p-4 shadow">
        <div class="card-body">
          <h1 class="text-center">Import Successful</h1>
        </div>
      </div>
    </div>
  </div>
</body>

</html>