<!DOCTYPE html>
<html lang="en">
<!-- Slivinski/Lincoln Main HTML page that includes the partial  -->
<head>
  <%- include('../partials/head'); %>
</head>

<body class="ps-5 pe-3">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
    <%- include('../partials/projects'); %>
    <%- include('../partials/personnel'); %>
    </div>
  </main>

</body>


</html>