<!-- Lincoln - this is a log-out page that will redirect you to the log-in page. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script>
    setTimeout(function () {
       // after 2 seconds
       window.location = "/";
    }, 2000)
  </script>
</head>
<body class="container">
    <h1>You have sucessfully been logged out! </h1>

</body>
</html>

